
body {
    margin: 0;
    background-color: gainsboro;
}

.container {
    margin: 20px;
}

.block {
    width: 200px;
    height: 200px;
    background-color: red;
    border-radius: 10px;
    margin: 20px;
}

.block-border {
    border: 4px solid black;
}

.block-green {
    background-color: greenyellow;
}

.block-blue {
    background-color: blue;
}

.block-yellow {
    background-color: yellow;
}

.block-rebeccapurple {
    background-color: rebeccapurple;
}